# R specific
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# Project specific
data/
output/

# File types
*.csv
*.docx
*.doc
*.html
*.json
*.log
*.rda
*.rds
*.Rout
*.xlsx
*.xls

# Graphics file types
*.pdf
*.png
*.jpg
*.jpeg
*.svg
*.eps
*.tiff
*.gif

# OS specific
.DS_Store
Thumbs.db

# Credentials
.env